html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: scroll;
  user-select: none;
}

body {
  margin: 0%;
  display: contents;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.719);
  background-color: white;
}

.header {
  height: 100%;
  background: url("./assets/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: inline-block;
  overflow: visible;
}

header {
  display: block;
}

.nav-style {
  background-color: rgba(0, 0, 0, 0.767);
}

.nav-item,
.navbar-dark,
.nav-link {
  color: azure;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1;
  background-color: transparent;
  border: transparent;
  border-radius: 0.25rem;
  transition: ease-in-out;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.15rem;
  text-align: center;
}

.navbar-dark .navbar-brand {
  color: azure;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.navbar-brand {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 0.9rem;
  font-size: 1.3rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

img {
  width: 50px;
  height: px;
}

.dropdown-toggle {
  margin-right: 20px;
}

.header-info {
  width: 100%;
  height: 90%;
  color: antiquewhite;
  text-align: center;
}

.header-title-info {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-top: 2px;
  font-size: 5rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.25rem;
  margin-bottom: 5px;
}

.text-center {
  text-align: center !important;
}

.row {
  display: inline-block;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 20%;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.small-header-info {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin-top: px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  cursor: pointer;
}

.hk-margin-bottom {
  margin-bottom: 16px !important;
}

.btn {
  width: 100px;
  padding-top: 8px;
  margin-top: 100px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 17px;
  border-radius: 5px;
}

.header-scroll-toggle {
  margin-top: 0;
  letter-spacing: 2px;
}

p {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 8em;
  position: relative;
}

.gallery {
  width: 100%;
  background-image: url(/assets/the-games-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.scroll-down-story a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.gallery-content {
  padding-top: 10%;
  flex-direction: row;
  width: 100px !important;
}

h1 {
  display: block;
  font-size: x-large;
}

.gallery-right-side {
  margin-top: 50px;
}

.gl-info-h1,
.content-mini-info {
  color: white;
}

.features {
  width: 100%;
  height: 100%;
  background-image: url(/assets/features.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.features-contents {
  padding-top: 14rem;
  color: white;
}

.title-info-features {
  color: white;
  font-size: medium;
  font-family: sans-serif;
  font-style: bold;
}

.content-info-features {
  color: white;
  text-align: right;
}

img,
svg {
  vertical-align: middle;
  padding-left: 0;
}

.features-timeline-content {
  display: block;
}

.tl-info-title {
  color: orange;
  font-size: x-large;
}

.tl-info-content {
  color: white;
  font-size: medium;
}

.sysreq {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}

.top-info {
  text-align: center;
  font-size: medium;
  color: white;
}

.req-title-table {
  font-size: medium;
  color: white;
}

.req-info {
  font-size: medium;
  color: white;
}

.req-info-content {
  font-size: medium;
  color: white;
}
